<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/2blades" class="icon circle fa-twitter"><span class="label">Twitter</span></a>
        <li>
        <li><a href="https://www.facebook.com/2BladesFoundation/" class="icon circle fa-facebook"><span class="label">Facebook</span></a>
        <li>
        <li><a href="https://www.youtube.com/channel/UC9jq_A5hCQyarQbsy9lTU0g" class="icon circle fa-youtube"><span
                class="label">Youtube</span></a>
        <li>
    </ul>


</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollgress.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/skel-layers.min.js"></script>
<script src="/js/init.js"></script>